html body {
    height: 100%;
    /*background: url(https://gitlab.com/StevenKang/file/raw/master/images/1.jpg);*/
    /*background-size: cover;*/
    background-color: #EEEEEE;
}

body .header {}

body .wrapper {
    margin-top: 2rem;
    margin-bottom: 2rem;
    min-height: 100%;
}

.jp-video .ui.progress,
.jp-audio .ui.progress {
    margin: 0;
}

.jp-video-full .jp-gui {
    position: fixed !important;
    position: static;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1001
}

.jp-video-full .jp-interface {
    position: absolute !important;
    position: relative;
    bottom: 0;
    left: 0
}

.jp-interface {
    position: relative;
    width: 100%
}